
/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
   
  


}

/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   
  

}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (max-width: 1220px){
  
  .__main-textt {
    margin-top: -34%;
  }

  .__getride {
    padding: 182px 0;
  }



}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){

  .__carousel-innert>.item> .__img {
    height: 477px;
  }

  .__main-textt {
    margin-top: -40%;
  }

  .__colat {
    font-size: 65px;
  }

  .__nav-pilldown {
    margin-top: 11%;
  }

  .__calenbg {
    padding: 30px 0;
  }

  .__datext {
    font-size: 15px;
  }

  .__latestcard {
    height: 538px;
  }

  .__getride {
    padding: 144px 0;
  }

  .__flightbg {
    height: 375px;
  }

  .__whitbg {
    height: 472px;
  }

  .__contform {
    margin: 0 40px 0 0;
  }

  .__secbg {
    padding: 17% 7%;
  }

  .__carecard {
    padding: 106px 40px;
  }

  

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){
  .__nav-pilldown {
    margin-top: 11%;
  }

  .__getride {
    padding: 136px 0;
  }


}

/*=================================================================
  @media screen 991px
==================================================================*/


@media screen and (max-width: 991px){

  .__main-textt {
    margin-top: -45%;
  }

  .__colat {
    font-size: 50px;
  }

  .__nav-pilldown>li a {
    font-size: 17px;
  }

  .__nav-pilldown>li.active>a {
    font-size: 17px;
  }

  .__datext {
    font-size: 14px;
  }

  .__passengercardp {
    font-size: 18px;
  }

  .__getride {
    padding: 94px 0;
  }

  .__navlink {
    font-size: 16px;
  }

  .__navlinka {
    font-size: 16px;
  }

  .__latestcard {
    padding: 20px 15px;
    height: 586px;
  }

  .__flightbg {
    height: 335px;
  }

  .__viewflight {
    margin-left: 0%;
  }


}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){

	.__navlink {
    font-size: 16px;
    margin-top: 5px;
  }

  .__navlinka {
    font-size: 16px;
    margin-top: 5px;
  }

  .__carousel-innert>.item> .__img {
    height: 460px;
  }

  .__main-textt {
    margin-top: -48%;
  }

  .__colat {
    font-size: 50px;
  }

  .__nav-pilldown {
    margin-top: 14%;
  }

  .__nav-pilldown>li a {
    font-size: 17px;
  }

  .__nav-pilldown>li.active>a {
    font-size: 17px;
  }

  .__datext {
    font-size: 13px;
  }

  .__passengercard .__img {
    height: 164px;
  }

  .__passengercardp {
    font-size: 18px;
  }

  .__getride {
    background-size: 50%;
    padding: 36px 0;
  }

  .__getridep {
    font-size: 29px;
  }

  .__advert {
    padding: 36px 0;
  }

  .__latestcard {
    padding: 20px 11px;
    height: 512px;
  }

  .__latestcard .__img {
    height: 218px;
  }

  .__flightbg {
    height: 335px;
  }

  .__viewflight {
    margin-left: 2%;
  }

  .__whobg {
    padding: 94px 0 94px;
  }

  .__contform {
    margin: 0 12px 0 0;
  }

  .__mapst {
    height: 517px;
  }

  .__whitbg {
    height: 367px;
  }

  .__securitybg {
    padding: 79px 0 74px;
  }

  .__secbg .__ourv {
    font-size: 24px;
  }

  .__secbg {
    padding: 3%;
  }

  .__foter {
    padding: 35px 0;
  }

  .__corpobg {
    padding: 79px 0 74px;
  }

  .__ourv {
    font-size: 35px;
  }

  .__ourvimg {
    height: 294px;
  }

  .__corpbg {
    padding: 10% 24px;
    height: 340px;
  }

  .__careerimg {
    height: 436px;
  }

  .__carecard {
    padding: 55px 40px;
  }

  .__histbg {
    padding: 65px 0;
  }
  


}

/*=================================================================
  @media screen 767px
==================================================================*/

@media screen and (max-width: 767px){


  
}


/*=================================================================
  @media screen 560px
==================================================================*/


@media screen and (max-width: 560px){


  .__flexsmail{
    display: flex;
    flex-direction: column;
  }

  .__mobidown{
    order: 2;
  }

  .__mobiup{
    order: 1;
  }

  .__righttopnav {
    text-align: left;
  }

  .__carousel-innert>.item> .__img {
    height: 400px;
  }

  .__main-textt {
    margin-top: -104%;
  }

  .__colat {
    font-size: 35px;
  }

  .__dasminp {
    padding: 0 40px 0 10px;
  }

  .__nav-pilldown {
    margin-top: 5.5%;
  }

  .__getride{
    background-size: 100%;
    padding: 103% 0 10px;
  }

  .__pilres {
    font-size: 30px;
    line-height: 1.0;
  }

  .__formbtn {
    margin-top: 25px;
  }

  .__paserv {
    font-size: 30px;
  }

  .__seeall1 {
    padding: 6px 40px;
  }

  .__getridep {
    font-size: 27px;
  }

  .__advert {
    padding: 16px 0;
  }

  .__advertp {
    font-size: 35px;
  }

  .__latestcard {
    padding: 20px 20px;
    height: 100%;
  }

  .__latestcard .__img {
    height: 210px;
  }

  .nav-tabs.__navplf{
    display: flex;
  }

  .__navplf>li a {
    font-size: 18px;
  }

  .__tr {
    height: 0px;
  }

  .__whobg {
    padding: 82px 0 89px;
  }

  .__pl {
    padding-left: 15px;
  }

  .__pr {
    padding-right: 15px;
  }

  .__whitbg {
    background: #ffffff;
    padding: 8% 45px;
    height: 100%;
  }

  .__mapst {
    height: 395px;
  }

  .__contform {
    margin: 0 5px 20px 5px;
  }

  .__securitybg {
    padding: 44px 0 26px;
  }

  .__secbg {
    padding: 6% 0;
  }

  .__corpobg {
    padding: 50px 0;
  }

  .__ourvimg {
    height: 240px;
  }

  .__corpbg {
    padding: 5% 17px;
    height: 100%;
  }

  .__slideimg {
    height: 280px;
  }

  .__ourv {
    font-size: 30px;
  }

  .__safecard {
    padding: 20px;
  }

  .__careerimg {
    height: 275px;
  }

  .__carecard {
    padding: 30px 20px;
  }


  .__histbg{
    padding: 35px 0;
  }

  .__blockquote {
    padding: 0;
  }



  .__foter {
    padding: 30px 0 0;
  }





}

